<a href="https://colab.research.google.com/github/PotlachervuSrilatha/DataScience_Learning/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 2
if x>7:
  print("is correct")
else:
  print('error')

error

In [ ]:
if x<7:
  print("is correct")
else:
  print('error')

is correct

In [ ]:
for i in range(1,10):
  print(i)
i2 = i*4
print(i2)

1
2
3
4
5
6
7
8
9
36